.button {
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.4;
  transition: all .4s ease-in-out;
  border: none;
  outline: none;

  &--round {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    min-width: 298px;
    min-height: 54px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
  }
}