.arrow {
  width: 62px;
  height: 62px;
  position: absolute;
  background-color: var(--clr-additional);
  border-radius: 100%;
  color: var(--clr-secondary);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;

  &--right,
  &--left {
    top: 40%;
  }

  &--left {
    left: -7%;
  }

  &--right {
    right: -7%;
  }

  @media screen and (max-width: 630px) {
    display: none;
  }
}