.carousel {
  margin: 0 auto 75px;
  max-width: 1158px;
  width: 100%;
}

.b-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.b-carousel__wrap {
  display: flex;
  transition: transform .5s;
  will-change: transform;
  position: relative;
  z-index: 1;
  height: 100%;
}

.b-carousel__item {
  flex: 0 0 100%;
  overflow: hidden;
}

.carousel__item-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 366px));
  gap: 20px 30px;
}

@media screen and (max-width: $media-xl) {
  .carousel__item-list {
    grid-template-columns: repeat(3, minmax(200px, 294px));
    grid-template-rows: repeat(2, 354px);
    gap: 92px 30px;
    margin: 0 auto;
    width: fit-content;
  }

}

@media screen and (max-width: $media-lg) {
  .carousel__item-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 92px 30px;
    justify-content: center;
  }
}