.carousel {
  max-width: 1158px;
  width: 100%;
}

.b-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.b-carousel__wrap {
  display: flex;
  transition: transform .5s;
  will-change: transform;
  position: relative;
  z-index: 1;
  height: 100%;
}

.b-carousel__item {
  flex: 0 0 100%;
  overflow: hidden;
}

.carousel__item-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 366px));
  gap: 20px 30px;
}

.b-carousel__prev,
.b-carousel__next {
  top: 40%;
}

.b-carousel__prev {
  left: -7%;
}

.b-carousel__next {
  right: -7%;
}

@media screen and (max-width: $small-desktop) {
  .carousel__item-list {
    row-gap: 92px;
  }

  .b-carousel__prev,
  .b-carousel__next {
    top: 39.5%;
  }

  .b-carousel__prev {
    left: 34.5%;
  }

  .b-carousel__next {
    right: 34.5%;
  }
}

@media screen and (max-width: $tablet-width) {
  .carousel {
    margin-bottom: 57px;
  }

  .carousel__item-list {
    --carousel-item-height: 336px;
    --gap: 88px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 94px;
    overflow: hidden;
  }

  .b-carousel__item {
    --carousel-item-height: 336px;
    --gap: 88px;
    max-height: calc((var(--carousel-item-height) * 2) + var(--gap));
    height: 100%;
  }
  .b-carousel__prev,
  .b-carousel__next {
    top: 39.5%;
  }
  .b-carousel__prev {
    left: 37.5%;
  }

  .b-carousel__next {
    right: 37.5%;
  }
}

@media (max-width: 585px) {
  .b-carousel__prev.arrow {
    display: none;
  }
}

@media screen and (max-width: $mobile-width) {
  .carousel {
    margin-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .b-carousel__next.arrow {
    display: none;
  }

  .carousel__item-list {
    grid-template-columns: minmax(auto, 285px);
    gap: 20px;
    justify-content: center;
  }
  .b-carousel__item {
    --gap: 20px;
    max-height: calc((var(--carousel-item-height) * 4) + var(--gap) * 3);
  }
}
// @media screen and (max-width: $media-xl) {
//   .carousel__item-list {
//     grid-template-columns: repeat(3, minmax(200px, 294px));
//     grid-template-rows: repeat(2, 354px);
//     gap: 92px 30px;
//     margin: 0 auto;
//     width: fit-content;
//   }

// }

// @media screen and (max-width: $media-lg) {
//   .carousel__item-list {
//     width: 100%;
//     display: flex;
//     flex-wrap: wrap;
//     gap: 92px 30px;
//     justify-content: center;
//   }
// }