.form-subscribe {
  display: grid;
  grid-template-columns: 62% auto;
  grid-template-rows: repeat(2, auto);
  gap: 14px 10px;

  &__caption {
    font-size: 2.4rem;
    line-height: 1.2;
    color: var(--clr-secondary);
    grid-column: 1 / 3;
  }

  &__input {
    width: 228px;
    height: 42px;
    padding: 10px;
    background-color: var(--clr-primary);
    color: var(--gray-color-2);
    border: 1px solid var(--clr-additional);
    border-radius: 2px;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 400;

    &:active,
    &:focus-visible {
      outline: none;
      box-shadow: var(--clr-additional) 0px 0px 5px;
    }

    &::placeholder {
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: inherit;
    }
  }
}