.grid-item {
  padding-bottom: 12px;
  border: 1px solid var(--clr-additional);
  max-width: 366px;
  border-radius: 5px;
  min-height: 426px;
  overflow: hidden;

  &__content {
    padding: 6px 0 0 15px;
  }

  &__img {
    height: 366px;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--clr-primary);
    margin-bottom: 0;
  }

  &__text {
    font-size: 1.5rem;
    line-height: 1.2;
  }  
}