.logo {
  display: inline-block;
  color: var(--clr-secondary);
  font-size: 1.9rem;
  line-height: 1.2;
  text-align: center;
  border: 1px solid var(--clr-secondary);
  position: relative;
  text-align: center;
  width: 82px;
  height: 52px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../svg/logo-1.svg);
    background-repeat: no-repeat;
    left: 12%;
    bottom: 18%;
  }
}


@media screen and (max-width: $tablet-width) {
  .logo {
    width: 47px;
    height: 29px;
    font-size: 1.23rem;
    border: none;

    &::after {
      width: 10px;
      height: 14px;
      left: 5%;
      bottom: 5%;
    }

    &--footer {
      font-size: 1.9rem;
      width: auto;
      height: auto;
      border: none;
      &::after {
        background-image: url(../svg/logo-1.svg);
        width: 20px;
        height: 20px;
        left: 57%;
        bottom: 22%;
      }

      @media (min-width: 640px) {
        border: 1px solid var(--clr-secondary);
        width: 82px;
        height: 52px;
          &::after {
            left: 12%;
            bottom: 18%;
          }
      }
    }

    &--active {
      color: var(--clr-additional);
      border: 1px solid var(--clr-additional);
      font-size: 1.5rem;
      width: 66px;
      height: 42px;
      position: absolute;
      top: 11px;
      left: 9px;
      z-index: 3;
    
      &::after {
        background-image: url(../svg/logo_active.svg);
        height: 16px;
        left: 12%;
        bottom: 18%;
      }
    }
  }
}