.range-slider {
  overflow: hidden;
  --gap: 30px;
}

.range-slider__container {
  --move-to: 0px;
  display: flex;
  margin: 0 auto;
  gap: var(--gap);
  width: 100%;
  height: 391px;;
  transform: translateX(var(--move-to));
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1);
  will-change: transform;
}

.range-slider__item {
  width: 267px;
  flex-shrink: 0;
}

@media (max-width: $small-desktop) {
  .range-slider__item {
    width: 292px;
  }
}