.form-amount {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    margin-bottom: 24px;
  }

  &__checkboxes {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__button {
    margin-bottom: 30px;
  }
}

@media (min-width: 640px) {
  .form-amount {
    &__input {
      margin-bottom: 30px;
    }

    &__checkboxes {
      margin-bottom: 29px;
    }
  }
}

@media (min-width: 1000px) {
  .form-amount {
    &__input {
      margin-bottom: 25px;
    }
  }
}