.donat-info {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-top: 30px;
  padding-bottom: 30px;  

  &__title {
    color: var(--clr-secondary);
    margin-bottom: 20px;
  }

  &__text {
    color: var(--clr-secondary);
    margin-bottom: 30px;
    line-height: 1.38;
    font-weight: 500;
  }

  &__subtitle {
    color: var(--clr-additional);
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 30px;
    display: block;
  }
}

@media (min-width: 640px) {
  .donat-info {
    padding-bottom: 47px;

    &__title {
      font-size: 2.4rem;
      margin-bottom: 18px;
    }

    &__subtitle {
      font-size: 3.6rem;
      font-weight: 400;
      margin-bottom: 33px;
    }
  }
}

@media (min-width: 1000px) {
  .donat-info {
    padding-top: 40px;
    padding-bottom: 30px;

    &__title {
      font-size: 3.6rem;
      margin-bottom: 30px;
      width: 778px;
      line-height: 1.3;
    }

    &__text {
      margin-bottom: 47px;
    }

    &__subtitle {
      margin-bottom: 42px;
    }
  }
}

@media (min-width: 1200px) {
  .donat-info {
    padding-bottom: 180px;
    
    &__title {
      width: auto;
      margin-bottom: 10px;
    }

    &__subtitle {
      margin-bottom: 63px;
    }
  }
}