.nav {
  display: flex;
  justify-content: space-between;
  
  &--header {
    @media screen and (max-width: $tablet-width) {
      flex-direction: column;
      justify-content: flex-end;
      gap: 15px;
      background-color: var(--clr-secondary);
      position: fixed;
      right: 0;
      top: 0;
      padding: 10px 10px 40px;
      max-width: 765px;
      height: 328px;
      width: 100%;
      overflow-y: auto;
      animation-name: moveBackMenu;
      animation-duration: 1s;
      transform: translateX(100%);
      opacity: 0;
      // transition: transform 0.6s ease-in-out;
      z-index: 2;

      .nav__list {
        flex-direction: column;
        justify-content: end;
        align-items: start;
        gap: 15px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 58px;
  }

  &__link {
    font-size: 1.6rem;
    -webkit-text-fill-color: var(--clr-secondary);
    transition: var(--transition);
    background-size: 3px 3px;
    -webkit-background-clip: text;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.4;

    &:hover,
    &--active {
      background: linear-gradient(113.96deg,#F9804B 1.49%,#FE9013 101.44%);
    background-size: 3px 3px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    &--burger {
      @media screen and (max-width: $tablet-width) {
        color: var(--clr-primary-alt);
        -webkit-text-fill-color: var(--clr-primary-alt);
      }      
    }
  }

  &--visible {
    @media screen and (max-width: $tablet-width) {
      // transform: none;
      animation-name: moveMenu;
      animation-duration: 1s;
      opacity: 1;
      transform: none;
    }
  }
}

.author {
  color: var(--clr-secondary);
}

@media screen and (max-width: $small-desktop) {
.nav {
  &__list {
    gap: 48px;
  }
}
}

@media screen and (max-width: $tablet-width) {
  .nav__list {
    gap: 37px;
  }
}

@media screen and (max-width: $mobile-width) {
  .nav__list {
    gap: 30px;
  }
}
.open-menu {
  animation-name: moveMenu;
  animation-duration: 1s;
}

@keyframes moveMenu {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes moveBackMenu {
  0% {
    transform: none;
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}