.footer {
  background-color: var(--clr-primary-bg);
  padding-top: 40px;
  padding-bottom: 60px;
  
  &__container {
    display: grid;
    grid-template-rows: min-content 62 max-content;
    align-content: space-between;
    row-gap: 36px;
    position: relative;
  }

  &__button {
    justify-self: start;
  }

  &__top-section {
    display: flex;
    justify-content: space-between;
  }

  &__bottom-section {
    display: grid;
    grid-template-columns: min-content 1fr 235px;
    column-gap: 165px;
    align-items: end;
    justify-items: end;
    padding-top: 10px;
  }

  &__designer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
  }
}