.hero {
  &__container-inner {
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -68px;
    background-size: cover;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: calc(5px + var(--header-height));
    padding-bottom: 98px;

    &--donate {
      min-height: 390px;
      background-size: cover;
      background-image: url(../images/panda_bg.png);
    }
  }

  &__container {
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    position: relative;
    z-index: 2;
  }
  &__title {
    max-width: 500px;
    margin: 0;
    margin-bottom: 65px;

    &::before {
      content: '';
      display: inline-block;
      width: var(--round);
      height: var(--round);
      border-radius: 100%;
      background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
      position: absolute;
      left: 3%;
      top: -4%;
      z-index: -1;
    }

    span {
      color: var(--yellow-color);
    }
  }

  &__btn {
    margin: 0 auto;
  }
}

@media screen and (max-width: $small-desktop) {
  .hero {
    &__container-inner {
      background-position-y: -75px;
      background-image: url(../images/hero-bg-2.png);
      padding-top: 42px;
      min-height: 504px;
    }

    &__title {
      margin-bottom: 40px;
    
      &::before {
        left: -3%;
        top: -12%;
      }
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .hero {
    &__container-inner {
      padding-top: 47px;
      background-position-y: -33px;
      padding-bottom: 0;
      min-height: 340px;
      max-height: 100vh;
    }

    &__container {
      justify-content: flex-start;
      
    }
    &__title {
      max-width: 255px;
      margin: 0;
      align-self: flex-start;

      &::before {
        right: 9%;
        left: auto;
        top: -15%;
      }
    }

    &__content {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: space-between;
      height: 253px;
      width: 100%;
    }

    &__btn {
      margin: 0;
    }
  }
}

@media screen and (max-width: 620px) {
  .hero {
    &__btn {
      display: none;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .hero {
    &__container-inner {
      min-height: auto;
      padding-top: 43px;
      padding-bottom: 40px;
      background-position-y: 0;
    }

    &__content {
      height: auto;
      flex-wrap: wrap;
    }

    &__title {
      max-width: 128px;
    }
  }
}