.pick {
  padding-top: 70px;
  padding-bottom: 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

  &--donate {
    padding-top: 40px;
    padding-bottom: 180px;
  }
  &__container {
    border-radius: 20px;
    padding: 38px 30px 59px;
    background: rgba(253, 253, 255, 0.52);
    max-width: calc(var(--content-width) - (var(--p-container) * 2));

    &--donate {
      padding-left: 92px;
      padding-right: 92px;
      padding-bottom: 1px;
    }
  }

  &__box {
    max-width: 865px;
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__definition {
    margin-bottom: 35px;
  }

  &__title {
    margin-bottom: 35px;
    color: var(--clr-additional);
    text-align: center;
  }

  &__preview {
    display: flex;
    align-items: center;
    margin: 0 auto 42px;
    max-width: 562px;
    width: 100%;
  }

  &__slogan {
    margin-bottom: 40px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    max-width: 765px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto 62px;
  }

  &__img {
    height: 168px;
    background-color: var(--clr-secondary);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid var(--clr-additional);

    &--pay {
      background-image: url(../svg/pay.svg);
    }

    &--zoo {
      background-image: url(../svg//zoo.svg);
    }

    &--monkey {
      background-image: url(../svg/monkey.svg);
    }
  }

  &__item {
    position: relative;
    max-width: 168px;
    width: 100%;
  }

  &__arrow {
    // position: absolute;
    // top: 26%;
    // right: -61%;
    background-image: url(../svg/arrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 69px;
    height: 35px;
    margin-top: 60px;

    &-green {
      display: none;
    }
  }

  &__btn {
    margin: 0 auto 30px;
  }

  &__progressbar {
    margin-bottom: 98px;
  }

  &__radios-block {
    display: flex;
    width: fit-content;

    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__amount {
    margin: 0 auto;
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__radios {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-right: 10px;

  }

  &__descr {
    margin: 0 auto;
    width: fit-content;
  }
}

@media screen and (max-width: $small-desktop) {
  .pick {
    padding-top: 30px;
    padding-bottom: 50px;

    &__container {
      max-width: calc(100% - 60px);
      padding: 30px 20px 50px;
    }

    &__definition {
      max-width: 844px;
      margin-bottom: 40px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__slogan {
      margin-bottom: 20px;
    }

    &__text {
      max-width: 810px;
    }

    &__list {
      margin-bottom: 70px;
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .pick {
    padding-top: 20px;
    padding-bottom: 20px;

    &__container {
      max-width: initial;
      border: none;
      padding: 12px var(--p-container);
      padding-bottom: 60px;
    }

    &__definition {
      margin-bottom: 29px;
    }
    &__title {
      font-size: 4.2rem;
    }

    &__subtitle {
      margin-bottom: 19px;
    }

    &__slogan {
      font-size: 2.2rem;
    }

    &__img {
      // max-width: 168px;
      // width: 100%;
      // max-height: 168px;
      // height: 100%;
    }

    &__list {
      margin-bottom: 40px;
      max-width: 588px;
      position: relative;
      gap: 10px;
    }

    &__arrow {
      background-image: url(../svg/arrow-green.svg);
      margin-top: 0;
      width: 92px;
      position: absolute;
      top: -6%;
      z-index: 1;
    
      &--first {
        left: 22%;
      }

      &--last {
        right: 27%;
      }
    }
  }
}


@media screen and (max-width: $mobile-width) {
  .pick {
    &__container {
      padding-bottom: 40px;
      padding-top: 22px;
    }

    &__title {
      font-size: var(--h2-font-size);
      margin-bottom: 10px;
    }

    &__slogan {
      font-size: 1.8rem;
      text-align: center;
      margin: 0;
    }

    &__text {
      display: none;
    }

    &__definition {
      margin-bottom: 20px;
    }

    &__list {
      flex-direction: column;
      align-items: center;
      max-width: 200px;
    }


    &__item {
      &:first-child {
        margin-bottom: 32px;
      }

      &:nth-child(3) {
        margin-bottom: 22px;
      }
    }

    &__img {
      margin-bottom: 10px;
    }

    &__arrow {
      transform: rotate(80deg);
      
      &--first,
      &--last {
        right: -22%;
        left: initial;
      }

      &--first {
        top: 26%;
      }

      &--last {
        top: 61%;
      }
      // position: static;
    }
  }
}