.testimonials {
  &__container-inner {
    background-image: url(../images/leav.png);
    max-width: 1600px;
    width: 100%;
    background-size: 59px 93px;
    background-position: 100% 106%;
    margin: 0 auto;
    background-repeat: no-repeat;
  }

  &__container {
    padding-bottom: 60px;
    padding-top: 30px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__content {
    margin-bottom: 30px;
  }
  &__button {
    margin: 0 auto;
  }
}

@media (min-width: 640px) {
  .testimonials {
    &__container-inner {
      background-size: 105px 200px;
      background-position: 100% 114%;
    }

    &__container {
      padding-top: 63px;
      padding-bottom: 80px;
    }

    &__range-input {
      margin-bottom: 52px;
    }
  }
}

@media (min-width: 1000px) {
  .testimonials {
    &__container-inner {
      background-size: 203px 312px;
      background-position: 100% 114%;
    }

    &__container {
      padding-top: 100px;
      padding-bottom: 140px;
    }

    &__title {
      margin-bottom: 32px;
    }

    &__list {
      margin-bottom: 30px;
    }

    &__content {
      margin-bottom: 18px;
    }
    &__range-input {
      margin-bottom: 49px;
    }

    &__button {
      margin: 0;
    }
  }
}

// @media (min-width: 1200px) {
//   .testimonials {
//     position: relative;

//     &__container {
//       padding-top: 142px;
//       padding-bottom: 181px;
//     }



//     &__content {
//       margin: 0 auto 20px;
//     }
// }

@media (min-width: 1200px) {
  .testimonials {
    &__container {
      padding-top: 139px;
      padding-bottom: 181px;
    }
    &__title {
      margin-bottom: 44px;
    }
    &__range-input {
      margin-bottom: 30px;
    }
    &__container-inner {
      background-position: 100% 126%;
      background-size: 100%;
    }
  }
}