$media-xl: 1350px;
$media-lg: 765px;
$media-sm: 480px;

:root {
  --size: 1160px;
  --p-container: 30px;
  --header-height: 8rem;

  @media screen and (max-width: $media-lg) {
    --p-container: 20px;
  }

  /*========== Colors ==========*/
  --black-color: #000000;
  --green-color: #4b9200;
  --orange-color: #fe9013;
  --yellow-color: #ffee2e;
  --red-color: #d31414;
  --outer-space-color: #333b41;
  --gray-color: #767474;
  --gray-smoky-color: #ababab;
  --light-gray-color: #f1f3f2;
  --gray-color-2: #bdbdbd;
  --titan-white-color: #fdfdff;
  --white-color: #ffffff;

  --clr-primary: #000000;
  --clr-primary-alt: #333b41;
  --clr-secondary: #ffffff;
  --clr-additional: #fe9013;

  --container-width: 1220px;

  --content-width: 1350px;
  --tablet-width: 765px;
  --mobile-big-width: 480px;
  --mobile-small-width: 320px;

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;

  --h1-font-size: 8.8rem;
  --h2-font-size: 4rem;
  --h3-font-size: 3rem;
  --subt-font-size: 2rem;
  --nav-font-size: 1.3rem;
  --text: 1.25rem;

  // Responsive typography
  @media screen and (max-width: $media-xl) {
    --h1-font-size: 7.08rem;
    --h2-font-size: 4rem;
    --h3-font-size: 3rem;
    --subt-font-size: 2rem;
    --nav-font-size: 1.3rem;
    --text: 1.25rem;
  }

  @media screen and (max-width: $media-lg) {
    --h1-font-size: 4.5rem;
    --h2-font-size: 4rem;
    --h3-font-size: 3rem;
    --subt-font-size: 1.83rem;
    --nav-font-size: 1.3rem;
    --text: 1.25rem;
  }

  @media screen and (max-width: $media-sm) {
    --h1-font-size: 2.3rem;
    --h2-font-size: 2rem;
    --h3-font-size: 2rem;
    --subt-font-size: 1.83rem;
    --nav-font-size: 1.3rem;
    --text: 1.25rem;
    --p-container: 11px;
  }

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  --transition: all .3s ease-in-out;
}