.line {
  width: 600px;
  height: 8px;
  border: 1px solid #F5F7F6;
  background-color: #f5f7f6;
  border-radius: 5px;

  @media screen and (max-width: $media-xl) {
    width: 390px;
  }

  &__value {
    background-color: var(--orange-color);
    height: inherit;
    width: 19.2%;
    border-radius: 5px;
  }
}