.text {
  font-family: 'Roboto', sans-serif;

  &--sm {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 300;
  }

  &--middle {
    font-weight: 500;
  }

  &--gray {
    color: var(--gray-color);
  }
}