.title {
  &--xl {
    font-size: var(--h1-font-size);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.001em;
    color: var(--white-color);
  }

  &--lg {
    font-weight: 400;
    font-size: var(--h2-font-size);
    line-height: 1.2;
  }

  &--md {
    font-size: var(--h3-font-size);
    line-height: 1.3;
    font-weight: 400;
  }

  &--sm {
    font-size: var(--subt-font-size);
    line-height: 1.4;
  }
}